.title {
    font-style: normal;
    color: #5A99C4;
    margin-bottom: 25px;
}

.title span {
    background: linear-gradient(180deg, #13244E 0%, #75C5F0 100%);
    display: inline-block;
    color:#fff;
    border-radius: 100%;
    padding:1px 10px;
    margin-right:10px;
}

.login-btn {
    background:#13244E;
    color:#fff;
}

.login-section {
    margin-top:100px;
    padding:25px;
}

a {
    text-decoration: none;
    color:#0093DD;
    font-size: 13px;
}

p {
    color:#000;
    font-size:15px;
}

input.form-control {
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border:none;
}

@media only screen and (min-width: 720px) {
    .login-cover {
        background:#000;
        height:100vh;
    }  
}
    